<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>all of product</h1>
    <div class="card">
            <% if (products.length > 0) { %>
                <% products.forEach(product => { %>
                       <div class="item">  
                          <h3><%= product.name %></h3>
                       <div class="item1">  <img src="<%= product.href%>" alt="">
                    <button><a href="http://localhost:3000/products/<%=product.id%>">show more</a></button>   
                 </div></div> 
               
                <% }) %>
            <% } else { %>
                <p>No products available.</p>
            <% } %> </div>
    

  
 
</body>
</html>

