<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="/style1.css">

</head>
<body>
    <h1>datails produits</h1>
    
    <div class="card">
        <% if (data.products.length > 0) { %>
            <% data.products.forEach(product => { %>
                      <h3><%= product.id %></h3>
                        <p><%= product.name %></p>
                        <img src="<%= product.href %>" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             A exercitationem error aperiam placeat nulla.
                             Aperiam et deleniti animi unde perspiciatis.</p>
                        <p><%= product.price %></p>
                        <button>BUY</button>
           
            <% }) %>
        <% } else { %>
            <p>No products available.</p>
        <% } %> </div>
    
</body>
</html>