.card {
    display: flex;
 
  justify-content: space-between;
  gap: 10px;
  height: auto;
}
.item{
    
    padding: 1px solid black ;
    background-color: aqua;
    width: 200px;
    box-shadow: 2px 2px 4px gray;
    text-align: center;

}
h3{
    margin-bottom: 100px;
}
h1{
    text-align: center;
}
img{
    width: 200px;
}
.item1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}